<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>AM I</title>
</head>
	<body>
		<div id="skrollr-body" class="container">

    <header class="header" data-sticky="true">

    <h1 class="header__branding">
        ::before

        Music

    </h1>
    <a class="header__menu" href="#">

        ::before

        Menu

    </a>
    ::after

</header>
<div id="Section1" class="section section--1 section--visible">

    <div id="Slide1a" class="slide slide--snap slide--1a" data-hash="music-moves-people" style="height: 112px;"

	</body>
</html>