<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>AM I-About</title>
</head>
	<body>
		<!-- AM I Studios Image/ -->
        <div class="about-img">
            <img src="../public/img/amisound.png" alt="sometext"> 
            <h3>AM I Studio</h3>
            <p>Book a session with our audio engineer or bring your own to record music at our exclusive location.</p>
            
        </div>
    <!--// AM I Studio Image/ -->

    <!-- AM I Films Image/ -->
        <div class="about-img">
            <img src="../public/img/amiFilmlogo.jpg" alt="sometext"> 
            <h3>AM I Films</h3>
            <p>Let us bring your scripts to life or use our production equipment for creative control.</p>

        </div>
    <!--// AM I Films Image/ -->

    <!-- Share Your Vision/ -->
        <div class="about-img">
            <img src="../public/img/contact.jpg" alt="sometext"> 
            <h3>Share Your Vision</h3>
            <p>Tell us your vision of creation for us to connect you with resources to assist in reaching your goals.</p>

        </div>
    <!--// Contact Image/Info Navigation -->
            

	</body>
</html>