<h1> Contact us </h1>

	<form form action="/contact" method= "POST">

		<p><label>BOOK A STUDIO</label><br>
		<input type="text" name="fname" placeholder="First name"><br>
		<input type="text" name="lname" placeholder="Last name"><br>
		<input type="text" name="pnum" placeholder="Phone number"><br>
		<input type="text" name="email" placeholder="Email" ></p>
		<textarea <input type="text" name=" Session Details" placeholder="send us a message"></textarea>
		<label for="message"> Send us a Message</label><br><input type="submit">
	
	</form>
	<form action="/contact" method= "POST">
		<p><label>Best time to reach you.</label><br>
		<input type="radio" name="Time" value="Morning">Morning<br>
		<input type="radio" name="Time" value="Afternoon">Afternoon<br>
		<input type="radio" name="Time" value="Evening">Evening</p><input type="submit">
	</form>

	
		<p><label>Get in Touch</label><br>
		<span class="email">kavian2@gmail.com</span><br>
		T 250 852 9632 <br>
		F 212 730 1038 
</p>


