<h2>Please enter your contact information</h2>

<form id="contact2" action="/contact_2" method="POST">
	
	<input type="text" name="name" placeholder="enter your first and last name">
	<input type="text" name="date" placeholder="enter available date">
	<select name="interest" id="interest">
		<option value="music studio">music studio</option>
		<option value="videos">videos</option>
		<option value="dancing">dancing</option>
		<option value="visual arts">visual arts</option>
	</select>

</form>