

<!-- CONTAINERS -->

	<!-- STARTS MEDIA -->

<div id="media" class="container">
	<h2>THIS IS MEDIA</h2>
	
		<div class="col1">	
			<a href="amiStudio.erb">
			<img src="/images/amiStudio.jpg" class="colimg"></a> 
		</div>
		<div class="col2">
			<a href="amiFilm.erb">
			<img src="/images/amiFilms.jpg" class="colimg"></a>
		</div>
		<div class="col3">
			<a href="contact.erb">
			<img src="/images/contact.jpg" class="colimg"></a> 

		</div>
	<div id="confooter">This is the media footer</div>
	
</div>
	<!-- ENDS MEDIA -->

	<!-- STARTS ABOUT -->

<div id="about" class="container">

	<h2>THIS IS THE ABOUT PAGE</h2>



</div>
	<!-- ENDS ABOUT -->

<!-- STARTS ABOUT -->

<div id="contact" class="container">
	
<h2>THIS IS CONTACT</h2>

</div>
	<!-- ENDS ABOUT -->
