

<!-- CONTAINERS -->

	<!-- STARTS MEDIA -->

<div id="media" class="container">
	<h2>THIS IS MEDIA</h2>
	
		<div class="col1">
			<h2>Column 1</h2>

		</div>

		<div class="col2">
		
			<h2>Column 2</h2>
		</div>

		<div class="col3">
			<h2>Column 3</h2>

		</div>
	<div id="confooter">This is the media footer</div>
	
</div>
	<!-- ENDS MEDIA -->

	<!-- STARTS ABOUT -->

<div id="about" class="container">

	<h2>THIS IS THE ABOUT PAGE</h2>



</div>
	<!-- ENDS ABOUT -->

<!-- STARTS ABOUT -->

<div id="contact" class="container">
	
<h2>THIS IS CONTACT</h2>

</div>
	<!-- ENDS ABOUT -->
