<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>AM I</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script type="text/javascript" src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
	<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.0/themes/base/jquery-ui.css">
	<link rel="stylesheet" href="/styles/style.css">
	<script type="text/javascript" src="/javascript/main.js"></script>
</head>
<body>
	
<!-- STARTS HEADER -->

<div id="popupmenu" >
	
	<ul>
		<li id="pophome"><a href="#" id="agohome"><img class="navicon" src="/images/home.png" alt="home"></a>home</li>
		<li id="popmedia"><a href="#" id="agomedia"><img class="navicon" src="/images/multimedia.png" alt="media"></a>Multimedia</li>
		<li id="popabout"><a href="#" id="agoabout"><img class="navicon" src="/images/about.png" alt="about"></a>about</li>
		<li id="popcontact"><a href="#" id="agocontact"><img class="navicon" src="/images/contact.png" alt="contact"></a>contact</li>
		<li id="popsocialmedia"><a href="#" id="agosocialmedia"><img class="navicon" src="/images/social.png" alt="socialmedia"></a>socialmedia</li>
		
	</ul>

</div>

	<div id="header" class="container">
		
		<a id="tnav" class="toggle-nav" href="#">&#9776;</a>
			
			<div id="dhome"><a href="#" id="gohome"><img class="navicon" src="/images/home.png" alt="home"></a></div>
			<div id="dmedia"><a href="#" id="gomedia"><img class="navicon" src="/images/multimedia.png" alt="media"></a></div>
			<img src="/images/ami_logo.png" alt="company" id="logo">
			<div id="dabout"><a href="#" id="goabout"><img class="navicon" src="/images/about.png" alt="about"></a></div>
			<div id="dcontact"><a href="#" id="gocontact"><img class="navicon" src="/images/contact.png" alt="contact"></a></div>
			<h3 id="iconhome">Home</h3>
			<h3 id="iconmedia">Multimedia</h3>
			<h3 id="iconabout">About</h3>
			<h3 id="iconcontact">Contact</h3>
			
	</div>

<!-- ENDS HEADER -->

<%= yield %>

<div id="footer" class="container">
	
	<img src="/images/facebook.png" id="facebook" alt="facebook" class="footimg">
	<img src="/images/twitter.png" id="twitter" alt="twitter" class="footimg">
	<img src="/images/pinterest.png" id="pinterest" alt="pinterest" class="footimg">
	<img src="/images/youtube.png" id="youtube" alt="youtube" class="footimg">
	

</div>

</body>
</html>