<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>AM I</title>
</head>
	<body>
	<!-- About Image/Info Navigation -->
		<div class="">
			<h1>MANIFEST YOUR PASSION</h1>
			<H2>DISCOVER THE BEST IN LIFE BY DISCOVERING THE BEST IN YOU.</h2>
		</div>

		<div class="">
			<h3><button>How We Help</button></h3>
		</div>
		

	<!-- AM I Studios Image/Info Navigation -->
		
			<a href="amiStudio.erb"><img src="images/amiStudio.jpg"></a> 
			
		
	<!--// AM I Studio Image/Info Navigation -->

	<!-- AM I Films Image/Info Navigation -->
		<div class="ami-film-img">
			<a href="amiFilm.erb"><img src="../public/img/amiFilms.jpg"></a> 

		</div>
	<!--// AM I Films Image/Info Navigation -->

	<!-- Contact Image/Info Navigation -->
		<div class="contact-img">
			<a href="contact.erb"><img src="../public/img/contact.jpg"></a> 

		</div>
	<!--// Contact Image/Info Navigation -->
			
		
	</body>
</html>